<svg
  viewBox="0 0 32 32"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  ><title>Javscript</title>
  <g transform="matrix(1.14286,0,0,1.14286,-2.28571,-2.28571)">
    <rect x="2" y="2" width="28" height="28" style="fill:var(--yellow-color)"
    ></rect>
  </g>
  <g transform="
      matrix(1.14286,0,0,1.14286,-2.28571,-2.28571)">
    <path
      d="M19,25.288L21.062,23.924C21.223,24.431 22.246,25.637 23.539,25.637C24.831,25.637 25.431,24.931 25.431,24.463C25.431,23.188 24.111,22.738 23.477,22.522C23.374,22.487 23.289,22.458 23.231,22.433C23.201,22.42 23.156,22.403 23.098,22.38C22.393,22.111 19.792,21.118 19.792,18.237C19.792,15.065 22.854,14.7 23.546,14.7C23.999,14.7 26.177,14.756 27.262,16.794L25.262,18.19C24.823,17.302 24.095,17.008 23.646,17.008C22.539,17.008 22.308,17.82 22.308,18.19C22.308,19.227 23.511,19.692 24.527,20.084C24.793,20.187 25.046,20.285 25.262,20.387C26.369,20.91 28,21.767 28,24.463C28,25.814 26.867,28 24.015,28C20.185,28 19.169,25.7 19,25.288Z"
      style="fill-rule:nonzero;"></path>
  </g>
  <g transform="matrix(1.14286,0,0,1.14286,-2.28571,-2.28571)">
    <path
      d="M9,25.559L11.149,24.195C11.317,24.703 11.971,25.638 12.921,25.638C13.87,25.638 14.356,24.663 14.356,24.195L14.356,15L16.998,15L16.998,24.195C17.041,25.464 16.338,28 13.233,28C10.379,28 9.192,26.304 9,25.559Z"
      style="fill-rule:nonzero;"></path>
  </g>
</svg>
