<svg
  viewBox="0 0 800 800"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xml:space="preserve"
  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
  ><title>Python</title>
  <g transform="matrix(2,0,0,2.01049,-400,-402.098)">
    <path
      fill="var(--yellow-color)"
      d="M398.563,200C297.013,200 303.35,244.038 303.35,244.038L303.475,289.662L400.375,289.662L400.375,303.35L264.963,303.35C264.963,303.35 200,295.975 200,398.45C200,500.9 256.712,497.275 256.712,497.275L290.562,497.275L290.562,449.725C290.562,449.725 288.737,393.013 346.375,393.013L442.475,393.013C442.475,393.013 496.475,393.888 496.475,340.825L496.475,253.088C496.475,253.088 504.675,200 398.563,200ZM345.125,230.675C354.763,230.675 362.563,238.475 362.563,248.113C362.563,257.75 354.763,265.55 345.125,265.55C345.117,265.55 345.108,265.55 345.1,265.55C335.548,265.55 327.687,257.69 327.687,248.138C327.687,248.129 327.687,248.121 327.688,248.113C327.688,238.475 335.487,230.675 345.125,230.675Z"
      clip-rule="nonzero"></path>

    <g clip-path="url(#_clip1)">
      <g transform="matrix(0.5,-0,-0,0.497391,200,200)">
        <use xlink:href="#_Image2" x="0" y="0" width="594px" height="598px"
        ></use>
      </g>
    </g>
  </g>
  <g transform="matrix(2,0,0,2.01049,-400,-402.098)">
    <path
      fill="var(--yellow-color)"
      d="M401.438,597.913C502.988,597.913 496.65,553.875 496.65,553.875L496.525,508.25L399.625,508.25L399.625,494.563L535.025,494.563C535.025,494.563 600,501.938 600,399.475C600,297.013 543.288,300.65 543.288,300.65L509.438,300.65L509.438,348.188C509.438,348.188 511.263,404.9 453.625,404.9L357.525,404.9C357.525,404.9 303.525,404.025 303.525,457.087L303.525,544.825C303.525,544.825 295.325,597.913 401.438,597.913ZM454.875,567.238C454.867,567.238 454.858,567.238 454.85,567.238C445.298,567.238 437.437,559.377 437.437,549.825C437.437,549.817 437.437,549.808 437.437,549.8C437.437,540.175 445.238,532.375 454.875,532.375C464.513,532.375 472.313,540.162 472.313,549.8C472.313,559.45 464.513,567.238 454.875,567.238Z"
      clip-rule="nonzero"></path>
  </g>
</svg>
