---
import BentoNav from "../BentoNav.astro";
import BentoServicesText from "./BentoServicesText.astro";
---

<div class="bento main">
  <div class="first-row">
    <div class="left">
      <div class="nav-wrapper">
        <BentoNav />
      </div>
      <div class="text-wrapper">
        <BentoServicesText />
      </div>
      <div class="tag-wrapper">
        <BentoServicesText />
      </div>
    </div>
  </div>
</div>

<style>
  .bento.main {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    padding: 2dvw;
    gap: 1.6dvw;
  }

  .first-row {
    display: flex;
    flex-direction: row;
    gap: 1dvw;
    flex-basis: 60%;
  }

  .first-row .left {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    gap: 1.6dvw;
    max-width: 70%;
  }
  .first-row .left .nav-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
  }
  .first-row .left .text-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 60%;
  }
  .first-row .left .tag-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
  }
  .first-row .right .profile-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .first-row .right {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-width: 30%;
  }
  .second-row {
    display: flex;
    flex-direction: row;
    gap: 1.6dvw;
    flex-grow: 1;
    flex-basis: 30%;
  }

  .hire-me-social-wrapper {
    display: flex;
    flex-grow: 1;
    gap: 1.6dvw;
    flex-basis: 80%;
  }
  .quote {
    display: flex;
    flex-grow: 1;
    flex-basis: 20%;
  }

  .hire-me {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
  }
  .social {
    display: flex;
    flex-grow: 1;
    flex-basis: 10%;
  }
  .ciao {
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;
  }
</style>
