---
import BentoCard from "../../BentoCard.astro";
---

<BentoCard color="#1B365D">
  <div class="svg-wrapper-ciao web">
    <div class="hand">👋</div>
    <svg
      width="100%"
      height="100%"
      viewBox=" 0 -10 404 140"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="ciao-svg c"
        d="M59.5625 82.5531C60.1563 82.5531 60.6906 82.4047 61.1656 82.1078V74.0031C65.2031 71.2719 70.8438 69.0453 78.0875 67.3234C85.3906 65.6016 92.4859 64.7406 99.3734 64.7406C102.52 67.9469 105.133 72.7562 107.211 79.1687C109.348 85.5219 110.477 91.2813 110.595 96.4469C109.408 98.8219 107.389 101.375 104.539 104.106C101.748 106.837 98.3641 109.361 94.3859 111.677C84.5297 117.495 73.2188 120.405 60.4531 120.405C42.1656 120.405 27.7672 115.091 17.2578 104.463C6.39219 93.7156 0.959381 78.8422 0.959381 59.8422C0.959381 40.7828 6.89688 25.8203 18.7719 14.9547C23.9969 10.0859 30.0828 6.43438 37.0297 4C43.9766 1.50625 51.2797 0.259377 58.9391 0.259377C73.9016 0.259377 86.1625 3.88125 95.7219 11.125C105.281 18.3688 110.061 27.3047 110.061 37.9328C110.061 45.9484 107.597 51.8859 102.669 55.7453C97.7406 59.5453 91.0609 61.4453 82.6297 61.4453C77.9984 61.4453 73.3375 60.3172 68.6469 58.0609C63.9563 55.7453 61.1656 53.5781 60.275 51.5594C60.275 46.6906 60.3641 42.8609 60.5422 40.0703C60.4234 40.0109 60.2156 39.9813 59.9188 39.9813H59.2953C58.4047 39.9813 57.6922 40.2484 57.1578 40.7828C56.6828 41.2578 56.2375 42.2969 55.8219 43.9C55.4656 45.5031 55.2875 49.8672 55.2875 56.9922C55.2875 74.0328 56.7125 82.5531 59.5625 82.5531Z"
        fill="#ffc845"></path>
      <path
        class="ciao-svg i"
        d="M167.684 19.2297V111.231C164.953 113.606 161.302 115.595 156.73 117.198C152.158 118.802 146.606 119.603 140.075 119.603C133.544 119.603 127.992 118.148 123.42 115.239C118.255 112.092 115.672 107.639 115.672 101.88V9.87813C118.403 7.50313 122.055 5.51406 126.627 3.91094C131.198 2.30781 136.72 1.50625 143.192 1.50625C149.664 1.50625 155.275 2.93125 160.025 5.78125C165.131 9.04688 167.684 13.5297 167.684 19.2297Z"
        fill="#ffc845"></path>
      <path
        class="ciao-svg a"
        d="M228.692 59.4859C229.167 59.9609 229.909 60.1984 230.919 60.1984C231.928 60.1984 232.789 59.9906 233.502 59.575C231.958 50.55 230.919 45.2063 230.384 43.5438C229.731 41.8219 228.752 40.9609 227.445 40.9609C226.852 40.9609 226.139 41.1391 225.308 41.4953L228.692 59.4859ZM211.058 86.2047C210.464 87.0359 210.167 87.8078 210.167 88.5203C210.167 90.2422 211.77 91.6969 214.977 92.8844C218.242 94.0125 222.191 94.725 226.822 95.0219C227.594 103.572 228.425 108.441 229.316 109.628C228.187 111.825 225.07 114.052 219.964 116.308C214.858 118.505 209.098 119.603 202.686 119.603C194.195 119.603 186.922 117.792 180.866 114.17C174.809 110.489 171.781 105.769 171.781 100.009C171.781 98.4656 171.93 97.1 172.227 95.9125L191.197 11.125C195.947 8.09688 201.617 5.72188 208.208 4C214.798 2.27813 221.656 1.41719 228.781 1.41719C238.994 1.41719 247.722 3.13906 254.966 6.58281C263.219 10.5016 268.236 16.1719 270.017 23.5938L290.323 107.58C284.148 115.595 274.084 119.603 260.131 119.603C253.363 119.603 247.633 118.386 242.942 115.952C238.252 113.517 235.52 110.044 234.748 105.531L232.789 94.6656C236.352 94.6063 239.795 93.9234 243.12 92.6172C246.445 91.3109 248.108 89.9453 248.108 88.5203C248.108 87.5703 247.722 86.7984 246.95 86.2047C244.694 87.8078 241.933 89.025 238.667 89.8562C235.402 90.6875 232.373 91.1031 229.583 91.1031C221.567 91.1031 215.392 89.4703 211.058 86.2047Z"
        fill="#ffc845"></path>
      <path
        class="ciao-svg o"
        d="M349.461 56.5469C349.461 50.6094 349.194 46.5422 348.659 44.3453C348.125 42.0891 347.145 40.9609 345.72 40.9609C344.83 40.9609 344.028 41.2578 343.316 41.8516C343.434 42.9203 343.613 44.3453 343.85 46.1266C344.088 47.9078 344.206 51.7078 344.206 57.5266V63.3156C344.206 67.3531 344.117 70.2922 343.939 72.1328C343.761 73.9734 343.612 75.5469 343.494 76.8531C343.434 77.5656 343.375 78.2781 343.316 78.9906C344.028 79.5844 344.83 79.8812 345.72 79.8812C347.145 79.8812 348.125 78.7828 348.659 76.5859C349.194 74.3297 349.461 70.2328 349.461 64.2953V56.5469ZM345.898 120.85C335.33 120.85 325.622 118.683 316.775 114.348C307.987 109.955 300.892 103.275 295.489 94.3094C290.086 85.2844 287.384 74.0328 287.384 60.5547C287.384 41.0203 293.262 25.7609 305.019 14.7766C315.469 5.09844 328.917 0.259377 345.364 0.259377C363.236 0.259377 377.367 5.81094 387.758 16.9141C398.208 27.9578 403.433 42.5047 403.433 60.5547C403.433 80.6234 397.852 95.9422 386.689 106.511C376.536 116.07 362.939 120.85 345.898 120.85Z"
        fill="#ffc845"></path>
    </svg>
  </div>
</BentoCard>

<style>
  .hand {
    top: 50%;
    left: 100%;
    position: absolute;
    font-size: calc(40px + 2dvw);
    text-shadow: 1px 1px 2px black;
  }

  .svg-wrapper-ciao {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1dvw;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  import { timeline, stagger } from "motion";

  const elHand = document.getElementsByClassName("svg-wrapper-ciao web")[0];

  elHand.addEventListener("mouseenter", () => {
    const sequenceHand = [
      [
        ".svg-wrapper-ciao path",
        { y: [0, -10, 10, 0] },
        { duration: 1, delay: stagger(0.1) },
      ],
      [
        ".hand",
        { left: ["50%"], translateX: "-50%", translateY: "-50%" },
        { duration: 1 },
      ],
      [
        ".hand",
        {
          rotate: [0, -20, 20, -20, 20, 0],
          translateX: "-50%",
          translateY: "-50%",
        },
        { duration: 1.6 },
      ],
      [".hand", { left: ["120%"] }, { duration: 1 }],
    ];

    timeline(sequenceHand, { duration: 5 });
  });
</script>
