---
import BentoNav from "../../BentoNav.astro";
import BentoDandD from "./BentoDandD.astro";
import BentoHomeMarquee from "./BentoHomeMarquee.astro";
import BentoHomeCiao from "./BentoHomeCiao.astro";
import BentoHomeLinks from "./BentoHomeLinks.astro";
import BentoHomeHireMe from "./BentoHomeHireMe.astro";
import BentoProfileCard from "../BentoProfileCard.astro";
import BentoHomeWhaleCard from "./BentoHomeWhaleCard.astro";
---

<div class="bento-wrapper">
  <div class="bento main">
    <div class="first-row">
      <div class="left">
        <div class="nav-wrapper">
          <BentoNav
            color="var(--main-color)"
            border="1px solid var(--main-color)"
            backgroundColor="var(--secondary-color)"
          />
        </div>
        <div class="dandd-wrapper">
          <BentoDandD />
        </div>
        <div class="marquee-wrapper">
          <BentoHomeMarquee />
        </div>
      </div>
      <div class="right">
        <div class="profile-wrapper">
          <BentoProfileCard />
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="hire-me-social-wrapper">
        <div class="whale">
          <BentoHomeWhaleCard />
        </div>
        <div class="hire-me">
          <BentoHomeHireMe />
        </div>
        <div class="social">
          <BentoHomeLinks />
        </div>
        <div class="ciao">
          <BentoHomeCiao />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bento-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
  }

  .bento.main {
    display: flex;
    flex-direction: column;
    width: 94dvw;
    height: 94dvh;
    gap: 1.6dvw;
  }

  .first-row {
    display: flex;
    flex-direction: row;
    flex-basis: calc(75% - 1.6dvw);
    gap: 1.6dvw;
    max-height: calc(75% - 1.6dvw);
    min-height: calc(75% - 1.6dvw);
  }

  .second-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .first-row .left {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    max-width: 70%;
    gap: 1.6dvw;
  }

  .first-row .left .nav-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(10% - 1.6dvw);
    max-height: calc(10% - 1.6dvw);
    min-height: calc(10% - 1.6dvw);
  }
  .first-row .left .dandd-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(80% - 1.6dvw);
  }
  .first-row .left .marquee-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: calc(20% - 1.6dvw);
  }

  .first-row .right {
    display: flex;
    flex-basis: calc(30% - 1.6dvw);
  }
  .first-row .right .profile-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .hire-me-social-wrapper {
    display: flex;
    flex-grow: 1;
    gap: 1.6dvw;
    flex-basis: 80%;
  }

  .whale {
    display: flex;
    flex-grow: 1;
    flex-basis: 10%;
  }
  .hire-me {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
  }
  .social {
    display: flex;
    flex-grow: 1;
    flex-basis: 10%;
  }

  .ciao {
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;
  }
</style>
