---
import BentoCard from "../../BentoCard.astro";

const active = {
  color: "#FAF1DB",
  border: "1px solid #FAF1DB",
  backgroundColor: "black",
};
---

<div class="flex flex-grow flex-col gap-[1.6dvw] ">
  <div class="flex flex-grow flex-row gap-[1.6dvw]">
    <div class="flex flex-grow basis-[70%]">
      <BentoCard
        backgroundColor="#FAF1DB"
        border="1px solid #FAF1DB"
        active={active}
      >
        <div class="flex flex-grow justify-center p-[2dvw]">
          <div class="text-[8dvw] font-black leading-none flex justify-center items-center md:text-[8dvw]">Developer</div>
        </div>
      </BentoCard>
    </div>
    <div class="flex flex-grow basis-[30%]">
      <BentoCard
        backgroundColor="#FAF1DB"
        border="1px solid #FAF1DB"
        active={active}
      >
        <div class="flex flex-grow justify-center p-[2dvw]">
          <div class="text-[8dvw] font-black leading-none flex justify-center items-center">&</div>
        </div>
      </BentoCard>
    </div>
  </div>
  <div class="flex flex-row gap-[1.6dvw] flex-grow">
    <div class="flex flex-grow basis-[30%]">
      <BentoCard
        backgroundColor="#FAF1DB"
        border="1px solid #FAF1DB"
        active={active}
      >
        <div class="flex flex-grow justify-center p-[2dvw]">
          <div class="text-[8dvw] font-black leading-none translate-y-[10%] flex justify-center items-center">⌘</div>
        </div>
      </BentoCard>
    </div>
    <div class="flex flex-grow justify-end basis-[70%]">
      <BentoCard
        backgroundColor="#FAF1DB"
        border="1px solid #FAF1DB"
        active={active}
      >
        <div class="flex flex-grow justify-center p-[2dvw]">
          <div class="text-[8dvw] font-black leading-none flex justify-center items-center">Designer</div>
        </div>
      </BentoCard>
    </div>
  </div>
</div>
