---
import BentoCard from "../../BentoCard.astro";
---

<BentoCard color="#6CB38A">
  <div class="content">
    <p>
      “It is possible to commit no mistakes and still lose. That is not
      weakness, that is life.” ― Jean-Luc Picard
    </p>
  </div>
</BentoCard>

<style>
  .content {
    padding: 1dvw;
    display: flex;
    flex-grow: 1;
    font-size: 1.2dvw;
    font-weight: 600;
  }
</style>
