---
import IconAstro from "./Icons/Skills/Coding/IconAstro.astro";
import IconFigma from "./Icons/Skills/Design/IconFigma.astro";
import IconHTML from "./Icons/Skills/Coding/IconHTML.astro";
import IconJS from "./Icons/Skills/Coding/IconJS.astro";
import IconCSS from "./Icons/Skills/Coding/IconCSS.astro";
import IconPython from "./Icons/Skills/Coding/IconPython.astro";
import IconTailwind from "./Icons/Skills/Coding/IconTailwind.astro";
import IconReact from "./Icons/Skills/Coding/IconReact.astro";
import IconPhotoshop from "./Icons/Skills/Design/IconPhotoshop.astro";
import IconIllustrator from "./Icons/Skills/Design/IconIllustrator.astro";
import IconPublisher from "./Icons/Skills/Design/IconPublisher.astro";
import IconDesigner from "./Icons/Skills/Design/IconDesigner.astro";
import IconPhoto from "./Icons/Skills/Design/IconPhoto.astro";
import SkillContainer from "./SkillContainer.astro";
---

<div>Skills</div>
