---
import BentoCard from "../BentoCard.astro";
import BentoProfile from "../BentoProfile.astro";
---

<BentoCard border="1px solid white">
  <div class="profile-card-wrapper">
    <BentoProfile />
    <div class="avaiable">
      <div>Avaiable to work</div>
      <div class="pulsating-circle"></div>
    </div>
    <div class="separator white"></div>
    <div class="text">
      <p>
        Hi, my name is <strong>Giacomo Ravetta</strong>
        <br /> Welcome to my website!
      </p>
    </div>
  </div>
</BentoCard>

<style>
  @media only screen and (max-width: 1200px) {
    .profile-card-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      gap: 2dvw;
    }
    .avaiable {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      gap: 20px;
      font-size: 3vw;
    }

    .separator.white {
      height: 1px;
      background-color: rgb(255, 255, 255);
    }

    p {
      color: white;
      padding: 3vw;
      font-size: 3vw;
    }

    .pulsating-circle {
      width: 1vh;
      height: 1vh;
      position: relative;
    }
  }
  @media only screen and (min-width: 1200px) {
    .profile-card-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
    }
    .text {
      display: flex;
      flex-direction: column;
    }
    .avaiable {
      display: flex;
      padding: 20px;
      flex-direction: row;
      justify-content: right;
      align-items: center;
      color: white;
      gap: 20px;
    }

    .separator.white {
      height: 1px;
      background-color: rgb(255, 255, 255);
    }

    p {
      padding: 20px;
      color: white;
      font-size: 1vw;
    }

    .pulsating-circle {
      width: 1vh;
      height: 1vh;
      position: relative;
    }
  }

  .pulsating-circle:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 50%;
    background-color: #1b7c4d;
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  .pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 237, 140);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%,
    100% {
      opacity: 0;
    }
  }

  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
</style>
