---
import BentoCard from "../BentoCard.astro";
---

<BentoCard color="#FF5E6E">
  <div class="hire-me-wrapper">
    <a href="/" class="hire-me-button">
      <div>Hire ME</div>
    </a>
  </div>
</BentoCard>

<style>
  .hire-me-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .hire-me-button {
    background-color: #fff;
    color: #ff5e6e;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .hire-me-button:hover {
    background-color: #ff3b50;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
  }
</style>
