---
import BentoCard from "../BentoCard.astro";
---

<BentoCard color="#FAF1DB">
  <div class="card-content">
    <div class="title">Developer</div>
  </div>
</BentoCard>

<style>
  .card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 60px 30px;
    gap: 20px;
  }
  .card-content .title {
    font-size: 7vw;
    font-weight: 900;
    line-height: 0.9;
  }
</style>
