---
import Layout from "../layouts/Layout.astro";
import BentoBio from "../components/BentoBio/Web/BentoBio.astro";
import BentoBioMobile from "../components/BentoBio/Mobile/BentoBioMobile.astro";
---

<Layout title="Bio">
  <div class="web">
    <BentoBio />
  </div>
  <div class="mobile">
    <BentoBioMobile />
  </div>
</Layout>

<style>
  @media only screen and (max-width: 1200px) {
    .web {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .mobile {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
</style>
