---
import Layout from "../layouts/Layout.astro";
import BentoContacts from "../components/BentoContacts/Web/BentoContacts.astro";
import BentoContactsMobile from "../components/BentoContacts/Mobile/BentoContactsMobile.astro";
---

<Layout title="Contacts">
  <div class="web">
    <BentoContacts />
  </div>
  <div class="mobile">
    <BentoContactsMobile />
  </div>
</Layout>

<style>
  @media only screen and (max-width: 1200px) {
    .web {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .mobile {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
</style>
