---
import Layout from "../layouts/Layout.astro";
import Web from "../components/Web.astro";
import Mobile from "../components/Mobile/Mobile.astro";
---

<Layout title="ciao">
  <section class="block md:hidden">
    <Mobile />
  </section>

  <section class="hidden md:block">
    <Web />
  </section>
</Layout>
