---
import Mobile from "../components/BentoHome/Web/Mobile.astro";
import BentoHomeWeb from "../components/BentoHome/Web/BentoHomeWeb.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Giacomo Ravetta">
  <div class="home">
    <!-- Show on mobile, hide on md breakpoint and up -->
    <div class="block md:hidden">
      <Mobile />
    </div>

    <!-- Hide on mobile, show on md breakpoint and up -->
    <div class="hidden md:block">
      <BentoHomeWeb />
    </div>
  </div>
</Layout>

<script>
  import { animate, stagger } from "motion";

  document.addEventListener("astro:page-load", () => {

    animate(".bracket",
        {
          y: [-100, 50, 0],
          opacity: [0, 1],
        },
        {
          duration: 3,
          delay: stagger(1),
        },
    )
  });
</script>
