---
import BentoCard from "../BentoCard.astro";
---

<BentoCard border="1px solid var(--blue-color)">
  <div class="inner-card">
    <span><a href="mailto:info@giacomoravetta.com">✉️</a></span>
    <p>Feel free to write to me for more information or just to say hi :)</p>
  </div>

  <style>
    @media only screen and (min-width: 1200px) {
      span {
        cursor: pointer;
        font-size: 14dvw;
        text-align: justify;
        font-weight: 3500;
        -webkit-animation: wobble-hor-bottom 0.8s both;
        animation: wobble-hor-bottom 0.8s both;
      }

      @-webkit-keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
          transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
          transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
          transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
          transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
          transform: translateX(-6px) rotate(-1.2deg);
        }
      }

      p {
        font-size: 1.2dvw;
        text-align: justify;
        font-weight: 3500;
      }
    }

    @media only screen and (max-width: 1200px) {
      span {
        cursor: pointer;
        font-size: 20dvw;
        text-align: justify;
        font-weight: 3500;
        -webkit-animation: wobble-hor-bottom 0.8s both;
        animation: wobble-hor-bottom 0.8s both;
      }

      @-webkit-keyframes wobble-hor-bottom {
        0%,
        100% {
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
        }
        15% {
          -webkit-transform: translateX(-30px) rotate(-6deg);
          transform: translateX(-30px) rotate(-6deg);
        }
        30% {
          -webkit-transform: translateX(15px) rotate(6deg);
          transform: translateX(15px) rotate(6deg);
        }
        45% {
          -webkit-transform: translateX(-15px) rotate(-3.6deg);
          transform: translateX(-15px) rotate(-3.6deg);
        }
        60% {
          -webkit-transform: translateX(9px) rotate(2.4deg);
          transform: translateX(9px) rotate(2.4deg);
        }
        75% {
          -webkit-transform: translateX(-6px) rotate(-1.2deg);
          transform: translateX(-6px) rotate(-1.2deg);
        }
      }

      p {
        font-size: 5dvw;
        text-align: justify;
        font-weight: 3500;
      }
    }

    .inner-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6dvw;
    }
  </style>
</BentoCard>
