---
import IconLinkedin from "./Icons/Social/IconLinkedin.astro";
import IconGithub from "./Icons/Social/IconGithub.astro";
import IconDribble from "./Icons/Social/IconDribble.astro";

---

<div class="links-wrapper flex justify-center items-center w-full p-5">
  <div class="links flex flex-row justify-between w-[60%]">
    <div class="link">
        <IconGithub className="w-[6dvw] md:w-[4dvw]" />
    </div>
    <div class="link">
      <IconLinkedin className="w-[6dvw] md:w-[4dvw]"/>
    </div>
  </div>
</div>
