---
import { Image } from "astro:assets";
import profile from "../images/giacomo_ravetta_profile_final_social.webp";
---

<div class="profile-wrapper">
  <Image src={profile} alt="Hi, I am Giacomo" class="profile-image" />
  <div class="bracket left">&#123</div>
  <div class="bracket right">&#125</div>
</div>

<style>

    .profile-wrapper {
      position: relative;
      width: fit-content;
    }

    .profile-image {
      min-width: 10%;
      max-width: 100%;
    }

    .bracket {
      position: absolute;
      opacity: 0;
      font-size:50dvw;
      color: transparent;
      --top-left-bracket: -4%;
      --top-right-bracket: 2%;
      --left-bracket: 10%;
      --right-bracket: 74%;
      font-weight: normal;
      -webkit-text-stroke: 1px white;
       text-stroke: 1px white;
    }


    .left {
      top: var(--top-left-bracket);
      left: var(--left-bracket);
    }

    .right {
      top: var(--top-right-bracket);
      left: var(--right-bracket);
    }

  @media only screen and (min-width: 768px) {

    .bracket {
    position: absolute;
    opacity: 0;
    font-size:17dvw;
    color: transparent;
    --top-left-bracket: -4%;
    --top-right-bracket: 2%;
    --left-bracket: 10%;
    --right-bracket: 74%;
      font-weight: normal;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    }

    .profile-wrapper {
      position: relative;
      width: fit-content;
    }

    .profile-image {
      min-width: 10%;
      max-width: 100%;
    }


    .left {
      top: var(--top-left-bracket);
      left: var(--left-bracket);
    }

    .right {
      top: var(--top-right-bracket);
      left: var(--right-bracket);
    }
  }
</style>
