---

interface Props {
  backgroundColor?: string;
  borderColor?: string;

}

const { backgroundColor, borderColor } = Astro.props;
---

<div
  class="card rounded-sm md:rounded-xl  flex grow-1"
  style={`background-color: ${backgroundColor}; border: ${borderColor};`}
>
  <slot />
</div>
