<div class="nav">
  <div class="rounded me">ME</div>
  <div class="rounded services">SERVICES</div>
  <div class="rounded skills">SKILLS</div>
  <div class="rounded skills">CONTACTS</div>
</div>

<style>
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .rounded {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12vw;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 2vw;
    padding: 10px;
  }
</style>
