---
import { Image } from "astro:assets";
import profile from "/public/images/giacomo_ravetta_profile_final_social.webp";
---

<div class="profile-wrapper rounded-2xl overflow-hidden">
    <div class="absolute right-[5%] bottom-[5%] flex items-center justify-end gap-3 text-white py-2 max-[500px]:gap-2 text-[clamp(0.8rem,1.5vw,0.95rem)] max-[500px]:text-xs bg-white/40 p-5 rounded-xl">
      <span>Available to work</span>
      <div class="w-[10px] h-[10px] max-[500px]:w-2 max-[500px]:h-2 relative flex-shrink-0 before:content-[''] before:absolute before:w-[300%] before:h-[300%] before:-top-full before:-left-full before:rounded-full before:bg-[rgba(50,237,140,0.3)] before:animate-[pulse-ring_2s_cubic-bezier(0.215,0.61,0.355,1)_infinite] after:content-[''] after:absolute after:w-full after:h-full after:bg-[rgb(50,237,140)] after:rounded-full after:shadow-[0_0_8px_rgba(0,0,0,0.3)] after:animate-[pulse-dot_2s_cubic-bezier(0.455,0.03,0.515,0.955)_-0.4s_infinite]"></div>
    </div>
  <Image src={profile} alt="Hi, I am Giacomo" class="profile-image" />
  <div class="bracket left">&#123</div>
  <div class="bracket right">&#125</div>
</div>

<style>

    .profile-wrapper {
      position: relative;
      width: fit-content;
    }

    .profile-image {
      min-width: 10%;
      max-width: 100%;
    }

    .bracket {
      position: absolute;
      opacity: 0;
      font-size:50dvw;
      color: transparent;
      --top-left-bracket: -4%;
      --top-right-bracket: 2%;
      --left-bracket: 10%;
      --right-bracket: 74%;
      font-weight: normal;
      -webkit-text-stroke: 1px white;
       text-stroke: 1px white;
    }


    .left {
      top: var(--top-left-bracket);
      left: var(--left-bracket);
    }

    .right {
      top: var(--top-right-bracket);
      left: var(--right-bracket);
    }

  @media only screen and (min-width: 768px) {

    .bracket {
    position: absolute;
    opacity: 0;
    font-size:17dvw;
    color: transparent;
    --top-left-bracket: -4%;
    --top-right-bracket: 2%;
    --left-bracket: 10%;
    --right-bracket: 74%;
      font-weight: normal;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    }

    .profile-wrapper {
      position: relative;
      width: fit-content;
    }

    .profile-image {
      min-width: 10%;
      max-width: 100%;
    }


    .left {
      top: var(--top-left-bracket);
      left: var(--left-bracket);
    }

    .right {
      top: var(--top-right-bracket);
      left: var(--right-bracket);
    }
  }
</style>
