---
import { Image } from "astro:assets";
import profile from "../images/giacomo_ravetta_profile_final_social.webp";
---

<div class="profile-wrapper">
  <Image src={profile} alt="Hi, I am Giacomo" class="profile-image" />
  <div class="bracket left">&#123</div>
  <div class="bracket right">&#125</div>
</div>

<style>
  .profile-wrapper {
    position: relative;
    width: fit-content;
  }

  .profile-image {
    min-width: 10%;
    max-width: 100%;
    border-radius: 25px 25px;
  }

  .bracket {
    position: absolute;
    opacity: 0;
    font-size: 22vw;
    color: transparent;
    --top-left-bracket: -4%;
    --top-right-bracket: 2%;
    --left-bracket: 12%;
    --right-bracket: 74%;
    -webkit-text-stroke: 2px white;
  }

  .left {
    top: var(--top-left-bracket);
    left: var(--left-bracket);
  }

  .right {
    top: var(--top-right-bracket);
    left: var(--right-bracket);
  }
</style>

<script>
  import { animate, stagger, inView } from "motion";

  animate(
    ".bracket",
    {
      y: [-100, 50, 0],
      opacity: [0, 1],
    },
    {
      duration: 3,
      delay: stagger(1),
    }
  );
</script>
