---

---

<!-- Your Astro component file, e.g., ScrollableContent.astro -->
<div id="container">
  <section id="contact">
    <h2>Contact</h2>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
    sollicitudin congue pharetra. Sed sed turpis magna. Aenean erat nisl,
    bibendum egestas lorem sit amet, accumsan aliquet magna. In hac habitasse
    platea dictumst. Etiam dapibus congue massa. In pulvinar tempor diam, vel
    dapibus erat rhoncus vel. Vivamus rhoncus quis quam sagittis efficitur.
    Curabitur faucibus, nisl cursus rhoncus laoreet, erat justo molestie orci,
    id sollicitudin lorem turpis eu elit. In sit amet ante turpis. Mauris
    laoreet, metus ut sagittis tristique, diam mi egestas augue, non aliquam
    enim orci vitae velit. Integer suscipit orci in rhoncus suscipit. Donec
    consequat neque ac leo pellentesque placerat. Duis vitae justo non ligula
    ultricies consectetur. Proin dignissim nisi at orci scelerisque lobortis.
    Proin ut sodales enim. Nunc at elementum augue. In vestibulum metus sem, ut
    interdum lorem pharetra sit amet. Aenean congue quam at libero porta
    hendrerit. Sed justo metus, ullamcorper non euismod in, malesuada sed est.
    Integer nulla ipsum, tempus eu venenatis porttitor, finibus eu dolor. In ac
    lorem justo. Phasellus blandit lorem libero, a laoreet enim maximus in. Sed
    malesuada congue eleifend. Ut volutpat elit et elementum pulvinar. Proin
    feugiat sem vulputate ante varius ullamcorper. Nulla ut leo tincidunt,
    luctus nibh sed, pellentesque arcu. Duis sed lectus sed massa pharetra
    efficitur vitae at lectus. Integer sit amet maximus justo. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Duis et ex ac nibh pulvinar ornare. Morbi aliquet risus vitae nibh
    elementum, ut malesuada enim feugiat. Nulla diam leo, suscipit nec tincidunt
    eget, condimentum a mi. Aenean scelerisque eu lectus sodales viverra. Morbi
    vehicula purus tortor, vitae ultrices tellus vestibulum et. Donec vel
    egestas massa. Nunc ornare tellus a lacinia laoreet. In hac habitasse platea
    dictumst. Etiam in mi leo. Duis vitae commodo mi, a facilisis orci. Etiam
    sed ipsum pharetra, posuere tellus sit amet, accumsan elit. Morbi bibendum
    iaculis arcu eget tincidunt. Vestibulum tincidunt magna sem, sit amet congue
    ipsum laoreet eget. Aenean ut consequat lacus, non blandit dolor. Sed a mi
    vitae erat cursus accumsan. Etiam a eros euismod quam dignissim congue.
    Pellentesque tristique magna id eros condimentum fringilla. Cras quis
    tristique ante. Sed nec turpis ut eros fermentum rhoncus. Nam vel mi auctor
    nisl imperdiet pulvinar eget iaculis ex. Cras vitae ultrices augue, ac
    sodales ex. Etiam sodales augue eu mattis imperdiet.
  </section>

  <section id="skills">
    <h2>Skills</h2>
    <!-- Your content here -->
  </section>

  <section id="about-me">
    <h2>About Me</h2>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
    sollicitudin congue pharetra. Sed sed turpis magna. Aenean erat nisl,
    bibendum egestas lorem sit amet, accumsan aliquet magna. In hac habitasse
    platea dictumst. Etiam dapibus congue massa. In pulvinar tempor diam, vel
    dapibus erat rhoncus vel. Vivamus rhoncus quis quam sagittis efficitur.
    Curabitur faucibus, nisl cursus rhoncus laoreet, erat justo molestie orci,
    id sollicitudin lorem turpis eu elit. In sit amet ante turpis. Mauris
    laoreet, metus ut sagittis tristique, diam mi egestas augue, non aliquam
    enim orci vitae velit. Integer suscipit orci in rhoncus suscipit. Donec
    consequat neque ac leo pellentesque placerat. Duis vitae justo non ligula
    ultricies consectetur. Proin dignissim nisi at orci scelerisque lobortis.
    Proin ut sodales enim. Nunc at elementum augue. In vestibulum metus sem, ut
    interdum lorem pharetra sit amet. Aenean congue quam at libero porta
    hendrerit. Sed justo metus, ullamcorper non euismod in, malesuada sed est.
    Integer nulla ipsum, tempus eu venenatis porttitor, finibus eu dolor. In ac
    lorem justo. Phasellus blandit lorem libero, a laoreet enim maximus in. Sed
    malesuada congue eleifend. Ut volutpat elit et elementum pulvinar. Proin
    feugiat sem vulputate ante varius ullamcorper. Nulla ut leo tincidunt,
    luctus nibh sed, pellentesque arcu. Duis sed lectus sed massa pharetra
    efficitur vitae at lectus. Integer sit amet maximus justo. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Duis et ex ac nibh pulvinar ornare. Morbi aliquet risus vitae nibh
    elementum, ut malesuada enim feugiat. Nulla diam leo, suscipit nec tincidunt
    eget, condimentum a mi. Aenean scelerisque eu lectus sodales viverra. Morbi
    vehicula purus tortor, vitae ultrices tellus vestibulum et. Donec vel
    egestas massa. Nunc ornare tellus a lacinia laoreet. In hac habitasse platea
    dictumst. Etiam in mi leo. Duis vitae commodo mi, a facilisis orci. Etiam
    sed ipsum pharetra, posuere tellus sit amet, accumsan elit. Morbi bibendum
    iaculis arcu eget tincidunt. Vestibulum tincidunt magna sem, sit amet congue
    ipsum laoreet eget. Aenean ut consequat lacus, non blandit dolor. Sed a mi
    vitae erat cursus accumsan. Etiam a eros euismod quam dignissim congue.
    Pellentesque tristique magna id eros condimentum fringilla. Cras quis
    tristique ante. Sed nec turpis ut eros fermentum rhoncus. Nam vel mi auctor
    nisl imperdiet pulvinar eget iaculis ex. Cras vitae ultrices augue, ac
    sodales ex. Etiam sodales augue eu mattis imperdiet.
  </section>
  <!-- Add more sections as needed -->
</div>

<style>
  #container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 80vh;
    margin: 100px 100px 100px 0px;
  }
  div {
    font-family: "Archivo Black", sans-serif;
    font-size: 30px;
    padding-left: 40px;
    color: #ffc845;

    transition:
      font-size 2s,
      color 1s;
  }
</style>
