---
import IconCat from "./Icons/IconCat.astro";
---

<div class="hero center">
  <div class="main text">
    <div class="line creative">
      <div class="letter">C</div>
      <div class="letter">R</div>
      <div class="letter">E</div>
      <div class="letter">A</div>
      <div class="letter">T</div>
      <div class="letter">I</div>
      <div class="letter">V</div>
      <div class="letter">E</div>
    </div>
    <div class="line developer">
      <div class="letter">D</div>
      <div class="letter">E</div>
      <div class="letter">V</div>
      <div class="letter">E</div>
      <div class="letter">L</div>
      <div class="letter">O</div>
      <div class="letter">P</div>
      <div class="letter">E</div>
      <div class="letter">R</div>
    </div>
  </div>
  <div class="designer">UI/UX <br />DESIGNER</div>
  <div class="icon cat"><IconCat /></div>
</div>

<style>
  .hero.center {
    position: relative;
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;

    --black-circle-width: 80%;
    --black-circle-height: 6%;
  }

  .main.text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line.creative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    color: var(--main-color);
    -webkit-text-stroke: 0.2vw var(--secondary-color);
    background-color: var(--main-color);
  }
  .line.developer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: top;
    color: var(--main-color);
    -webkit-text-stroke: 0.2vw var(--secondary-color);
    background-color: var(--main-color);
  }

  .designer {
    display: flex;
    justify-content: center;
    align-items: center;
    left: var(--black-circle-width);
    top: var(--black-circle-height);
    border-radius: 50%;
    width: 16vw;
    height: 16vw;
    font-size: 3vw;
    position: absolute;
    color: var(--main-color);
    background-color: var(--secondary-color);
    z-index: 1;
    --height-designer: 100%;
  }
  .hero .letter {
    font-size: 14vw;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 30vh;
    border-radius: 0px 25px 25px 0px;
    width: 6vw;
    background-color: var(--secondary-color);
  }

  .icon.cat {
    position: absolute;
    width: 20%;
    transform: rotate(90deg);
    top: 30;
    left: -100%;
  }
</style>

<script>
  import { animate, timeline, stagger } from "motion";

  const sequence = [
    [".letter", { opacity: [0, 1] }, { delay: stagger(0.04) }],
    [
      ".letter",
      {
        transform: ["scale(1.5) translateY(2vh)", "scale(1) translateY(0px)"],
        letterSpacing: ["3vw", "0vw"],
        lineHeight: [1.6, 1],
      },
    ],
    [
      ".designer",
      {
        y: ["-600%", "10%"],
        transform: "rotate(-30deg)",
      },
      { duration: 3 },
    ],
    [
      ".icon.cat",
      {
        left: ["-20%", "-14%"],
      },
      { duration: 2 },
    ],
  ];

  timeline(sequence, { duration: 6 });

  const cat = document.getElementsByClassName("icon cat")[0];

  const handleMouseEnterCat = () => {
    animate(
      ".icon.cat",
      {
        left: [0],
      },
      { duration: 3 }
    );
  };
  const handleMouseLeaveCat = () => {
    animate(
      ".icon.cat",
      {
        left: ["-14%"],
      },
      { duration: 3 }
    );
  };
  cat.addEventListener("mouseenter", handleMouseEnterCat);
  cat.addEventListener("mouseleave", handleMouseLeaveCat);
</script>
