---
import Intro from "./Intro.astro";
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import Menu from "../components/Menu.astro";
---

<div class="info">
  <div class="menu">
    <Menu />
  </div>
  <div class="content">
    <Content />
  </div>
</div>

<style>
  div.info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    jusitfy-content: space-between;
  }

  div.menu {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.content {
    width: 50%;
    height: 100vh;
  }
</style>
