---
import IconLinkedin from "./Icons/IconLinkedin.astro";
import IconGithub from "./Icons/IconGithub.astro";
import IconDribble from "./Icons/IconDribble.astro";
---

<div class="links-wrapper">
  <div class="links">
    <IconGithub width="20" />
    <IconLinkedin width="20" />
    <IconDribble width="20" />
  </div>
</div>

<style>
  .links-wrapper {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
</style>
