  <div class="nav border-white border-1 rounded-xl h-[8dvh] text-white flex justify-between items-center overflow-hidden">


      <div class="nav-elements flex flex-row gap-2">


          <div class="nav-element">ABOUT ME</div>
          <div class="nav-element">SERVICES</div>


      </div>



      <a href="mailto:info@giacomoravetta.com"
         class="flex items-center h-full text-[1.6dvw] text-black bg-white px-4
                transition-all duration-300 ease-in-out
            hover:scale-110">
         info@giacomoravetta.com
      </a>
  </div>
