<label class="switch">
  <input type="checkbox" id="theme-switch" />
  <span class="slider"></span>
</label>

<style>
  /* Switch Container */
  .switch {
    position: relative;
    display: flex;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.4s;
    border-radius: 34px;
  }

  /* Slider before */
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--main-color);
    transition: 0.4s;
    border-radius: 50%;
  }

  /* Toggle ON */
  input:checked + .slider {
    background-color: var(--secondary-color);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--main-color);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const switchInput = document.getElementById("theme-switch");
    console.log(switchInput);

    switchInput.addEventListener("change", () => {
      const root = document.documentElement;
      console.log("Caio");
      const primaryColor = getComputedStyle(root)
        .getPropertyValue("--main-color")
        .trim();
      const secondaryColor = getComputedStyle(root)
        .getPropertyValue("--secondary-color")
        .trim();

      const newPrimaryColor = primaryColor === "white" ? "black" : "white";
      const newSecondaryColor = secondaryColor === "black" ? "white" : "black";

      root.style.setProperty("--main-color", newPrimaryColor);
      root.style.setProperty("--secondary-color", newSecondaryColor);
    });
  });
</script>
