---
import BentoHomeMobile from "./BentoHome/Mobile/BentoHomeMobile.astro";
import BentoHomeWeb from "./BentoHome/Web/BentoHomeWeb.astro";
---

<div class="site">
  <div class="mobile">
    <BentoHomeMobile />
  </div>
  <div class="web">
    <BentoHomeWeb />
  </div>
</div>

<style>
  @media only screen and (max-width: 1200px) {
    .web {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .mobile {
      display: none;
    }
    .card {
      opacity: 0;
    }
  }
</style>

<script>
  import { timeline, stagger } from "motion";

  const sequence = [
    [".card", { height: ["0%", "100%"], opacity: [0, 1] }, { duration: 1.5 }],
    [
      ".bracket",
      {
        y: [-100, 50, 0],
        opacity: [0, 1],
      },
      {
        duration: 3,
        delay: stagger(1),
      },
    ],
  ];

  timeline(sequence);
</script>
