---
import Hero from "./Hero.astro";
import Bio from "./Bio.astro";
import Work from "./Work.astro";
import Contact from "./Contact.astro";
---

<div class="site">
  <Hero />
  <Bio />
  <Work />
  <Contact />
</div>

<style>
  .site {
    overflow: hidden;
  }
</style>
