<div class="work" id="work-href">
  <div class="graphic">
    <div class="title one">WORK</div>
    <div class="title two">WORK</div>
    <div class="title three">WORK</div>
  </div>
  <div class="text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae metus ut
      felis commodo interdum. Suspendisse potenti. Sed consectetur magna sed
      ornare faucibus. Nunc elementum eget erat a convallis. Mauris iaculis
      tincidunt est, id accumsan sem suscipit sit amet. Fusce at mauris at diam
      viverra tincidunt. Suspendisse a augue blandit enim commodo aliquet et
      eget massa. Aenean convallis metus eu enim ornare, a bibendum velit
      ullamcorper. Integer consectetur cursus maximus. Nulla ipsum diam, iaculis
      ut scelerisque eu, fringilla eu ex. Integer dictum ornare tristique.
      Vivamus eu est sit amet augue faucibus efficitur.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae metus ut
      felis commodo interdum. Suspendisse potenti. Sed consectetur magna sed
      ornare faucibus. Nunc elementum eget erat a convallis. Mauris iaculis
      tincidunt est, id accumsan sem suscipit sit amet. Fusce at mauris at diam
      viverra tincidunt. Suspendisse a augue blandit enim commodo aliquet et
      eget massa. Aenean convallis metus eu enim ornare, a bibendum velit
      ullamcorper. Integer consectetur cursus maximus. Nulla ipsum diam, iaculis
      ut scelerisque eu, fringilla eu ex. Integer dictum ornare tristique.
      Vivamus eu est sit amet augue faucibus efficitur.
    </p>
  </div>
</div>

<style>
  .work {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
  }
  .graphic {
    height: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work .title {
    font-size: 20vh;
    color: transparent;
    -webkit-text-stroke: 5px var(--main-color);
  }
  .work .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
    padding: 50px;
    font-size: 1.4vw;
    color: var(--main-color);
    align-items: center;
    flex-basis: 60%;
  }
</style>

<script>
  import { animate } from "motion";

  const workWrapper = document.querySelectorAll(".work")[0];

  const animateWork = () => {
    animate(".title.two", { scaleX: -1 }, { duration: 10 });
  };
  workWrapper.addEventListener("mouseenter", animateWork, { once: true });
</script>
