---
import BentoCard from "../../BentoCard.astro";
---

<BentoCard border="1px solid var(--yellow-color)">
  <div class="achievements">
    <h1>Achievements</h1>
  </div>
</BentoCard>

<style>
  .achievements {
    color: var(--yellow-color);
  }
</style>
