---
import BentoNav from "../../BentoNav.astro";
import BentoServicesCard from "./BentoServicesCard.astro";
import BentoSkillsCard from "./BentoSkillsCard.astro";
---

<div class="bento-wrapper">
  <div class="bento main">
    <div class="first-row">
      <BentoNav
        color="var(--yellow-color)"
        border="1px solid var(--yellow-color)"
        backgroundColor="var(--secondary-color)"
      />
    </div>

    <div class="second row">
      <BentoServicesCard />
    </div>

    <div class="third row">
      <BentoSkillsCard />
    </div>
  </div>
</div>

<style>
  @media only screen and (max-width: 1200px) {
    .bento-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100dvw;
      height: 100dvh;
    }
    .bento.main {
      display: flex;
      flex-direction: column;
      width: 96dvw;
      height: 96dvh;
      gap: 1.6dvw;
    }
    .second.row {
      display: flex;
      flex-grow: 1;
    }
    .third.row {
      display: flex;
    }

    .cards {
      display: flex;
      flex-basis: 40%;
      flex-direction: column;
      gap: 1.6dvw;
    }

    .profile {
      display: flex;
      flex-basis: 60%;
      gap: 1.6dvw;
      flex-grow: 1;
    }

    .first.row,
    .second.row,
    .third.row,
    .fourth.row,
    .sixth.row {
      flex-shrink: 0;
    }

    .fifth.row {
      display: flex;
      flex-grow: 1;
    }

    .ciao {
      display: flex;
      flex-basis: 30%;
    }
    .whale-wrapper {
      display: flex;
      flex-basis: 70%;
    }
  }
</style>
