---
import BentoCard from "../../BentoCard.astro";
import BentoServiceCard from "../BentoServiceCard.astro";

const services = [
  {
    title: "Web Design",
    tagline: "Make you website shine",
    description:
      "I specialize in creating visually stunning and user-friendly websites using powerful tools and CMS platforms. Whether it’s Webflow or Framer, I ensure your site not only looks great but is easy to manage, scalable, and built with your specific needs in mind. Let me handle the technical complexities while you enjoy a beautifully designed and fully functional online presence that captures your brand’s essence.",
  },
  {
    title: "Web Development",
    tagline: "Custom Web Development",
    description:
      "I offer expert web development services to create dynamic websites and applications using modern frameworks like React and Svelte. Additionally, I specialize in building fast, efficient static sites with Astro, perfect for performance-focused projects. Whether you’re looking for interactivity or a highly optimized static solution, I deliver scalable, responsive, and tailored web experiences that meet your unique needs while ensuring exceptional user engagement.",
  },
  {
    title: "Automation",
    tagline: "No Repetive Work",
    description:
      "I offer tailored automation solutions to streamline your processes, saving you time and resources. Using Python or JavaScript scripts, I can automate repetitive tasks, improve workflow efficiency, and optimize data handling. Whether it’s automating business operations, data processing, or enhancing your existing systems, I deliver smart solutions designed to boost productivity and drive results. Let me help you simplify complex tasks and focus on what matters most.",
  },
];
---

<div class="services-card">
  <BentoCard border="1px solid var(--yellow-color)">
    <div class="services">
      {
        services.map((service) => (
          <div class="service">
            <BentoServiceCard
              service={service.title}
              claim={service.tagline}
              description={service.description}
            />
          </div>
        ))
      }
    </div>
  </BentoCard>
</div>

<style>
  .services-card {
    display: flex;
    flex-grow: 1;
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 5dvw;
    flex-grow: 1;
    padding: 3dvw;
  }
  .service {
    display: flex;
    flex-direction: column;
    gap: 1.6dvw;
    flex-grow: 1;
    transition: transform 2s;

    &:hover {
      transform: scale(1.05);
    }
  }
</style>
