---
import BentoCard from "../../BentoCard.astro";
---

<BentoCard backgroundColor="#E54C5B">
  <div>
    <a href="/" class="hire-me-button"> HIRE ME </a>
  </div>
</BentoCard>

<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #ffc845;
  }
</style>
