---
import { Image } from "astro:assets";
import blueWhale from "../../../images/blue-whale.webp";
import BentoCard from "../../BentoCard.astro";
---

<BentoCard backgroundColor="#FFC845">
  <div class="whale-mobile">
    <div class="whale-mobile-wrapper">
      <Image
        src={blueWhale}
        width={419}
        alt="A whale"
        class="whale-image-mobile"
      />
    </div>
  </div>
</BentoCard>

<style>
  .whale-mobile {
    display: flex;
    transform-origin: center;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #e5e5f7 10px
      ),
      repeating-linear-gradient(#ffc845, #444cf7);
    overflow: hidden; /* Ensure the whale doesn't overflow the container */
  }

  .whale-image-mobile {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer; /* Indicate that the image is clickable */
    transition: opacity 0.5s; /* Transition for smooth fading */
  }

  .whale-mobile-wrapper {
    height: 300px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes swim {
    0% {
      transform: translateY(0) rotate(0deg) scale(1);
      opacity: 1;
    }

    10% {
      transform: translateY(-50%) rotate(-15deg);
      opacity: 1;
    }

    20% {
      transform: translateY(-100%) rotate(15deg);
      opacity: 1;
    }

    24% {
      transform: translateY(-150%) rotate(-15deg);
      opacity: 0;
    }

    26% {
      transform: translateY(110%);
      opacity: 0;
    }

    28% {
      opacity: 1;
    }

    35% {
      transform: translateY(100%) scale(1.5);
    }

    60% {
      transform: translateY(75%) scale(3);
    }

    70% {
      transform: translateY(30%) scale(3);
    }
    80% {
      transform: translateY(15%) translateX(10%) scale(2);
    }
    90% {
      transform: translateY(2%) translateX(-10%) rotate(10deg) scale(1);
    }
    92% {
      transform: translateY(0) rotate(20deg) scale(1);
    }
    99% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .whale-image-mobile.animate {
    animation: swim 15s linear;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const whale = document.querySelector(".whale-image-mobile");
    const whaleWrapper = document.querySelector(".whale-mobile");
    const handleClick = () => {
      whale.classList.add("animate");

      whale.addEventListener(
        "animationend",
        () => {
          whale.classList.remove("animate");
        },
        { once: true }
      );
    };

    whaleWrapper.addEventListener("click", handleClick);
  });
</script>
