---
import BentoCard from "../../BentoCard.astro";
---

<a href="mailto:info@giacomoravetta.com" target="_blank" class="hire-me-button">
  <BentoCard backgroundColor="#FFC845">
    <div class="svg-wrapper">
      <div class="svg-wrapper-inner">
        <svg
          viewBox="0 0 660 120"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M109.595 23.5938V112.122C102.945 117.109 94.425 119.603 84.0344 119.603C76.0188 119.603 69.6656 117.97 64.975 114.705C60.0469 111.38 57.5828 106.57 57.5828 100.277V82.6422H63.9063C66.3406 82.6422 67.8547 82.3453 68.4484 81.7516C69.1016 81.0985 69.4281 80.0594 69.4281 78.6344H41.4625C41.4625 80.0594 41.7297 81.0985 42.2641 81.7516C42.7984 82.3453 44.075 82.6422 46.0938 82.6422H52.8625V112.122C48.2906 115.091 43.9563 117.08 39.8594 118.089C35.7625 119.098 31.5766 119.603 27.3016 119.603C19.2859 119.603 12.9328 117.97 8.24219 114.705C3.31407 111.38 0.850006 106.57 0.850006 100.277V11.6594C3.93751 8.39377 7.73751 5.90002 12.25 4.17815C16.8219 2.3969 21.5719 1.50627 26.5 1.50627C33.6844 1.50627 39.7703 3.28752 44.7578 6.85002C50.1609 10.8875 52.8625 16.4688 52.8625 23.5938V39.4469H64.1734C64.1734 37.9031 63.8766 36.8641 63.2828 36.3297C62.7484 35.736 61.8578 35.4391 60.6109 35.4391H57.5828V11.6594C60.6703 8.39377 64.4703 5.90002 68.9828 4.17815C73.5547 2.3969 78.3047 1.50627 83.2328 1.50627C90.4172 1.50627 96.5031 3.28752 101.491 6.85002C106.894 10.8875 109.595 16.4688 109.595 23.5938Z"
            fill="var(--blue-color)"></path>
          <path
            d="M168.288 19.2297V111.231C165.556 113.606 161.905 115.595 157.333 117.198C152.761 118.802 147.209 119.603 140.678 119.603C134.147 119.603 128.595 118.148 124.023 115.239C118.858 112.092 116.275 107.639 116.275 101.88V9.87815C119.006 7.50315 122.658 5.51409 127.23 3.91096C131.802 2.30784 137.323 1.50627 143.795 1.50627C150.267 1.50627 155.878 2.93127 160.628 5.78127C165.734 9.0469 168.288 13.5297 168.288 19.2297Z"
            fill="var(--blue-color)"></path>
          <path
            d="M224.664 54.6766C224.902 54.8547 225.584 54.9438 226.712 54.9438C227.841 54.9438 228.702 54.4985 229.295 53.6078C229.889 52.7172 230.186 51.2625 230.186 49.2438V46.0375C230.186 43.9 229.919 42.386 229.384 41.4953C228.909 40.5453 228.078 40.0703 226.891 40.0703C225.763 40.0703 224.991 40.1891 224.575 40.4266C224.634 40.7235 224.664 41.2281 224.664 41.9406V54.6766ZM270.62 74.9828L286.028 90.7469C284.959 100.009 282.02 107.134 277.211 112.122C272.461 117.109 265.87 119.603 257.439 119.603C251.086 119.603 245.564 118.089 240.873 115.061C234.877 111.261 230.394 105.205 227.425 96.8922L224.219 88.1641C221.725 88.1047 218.578 87.7781 214.778 87.1844C214.303 87.6594 214.066 88.3125 214.066 89.1438C214.066 90.7469 216.47 91.6969 221.28 91.9938L226.356 104.819V112.389C219.528 117.198 210.77 119.603 200.083 119.603C192.423 119.603 186.308 118.03 181.736 114.883C177.164 111.736 174.878 107.164 174.878 101.167V16.5578C174.878 13.9453 177.283 11.4219 182.092 8.98752C186.902 6.49377 193.195 4.50471 200.973 3.02034C208.752 1.47659 216.53 0.704712 224.308 0.704712C242.12 0.704712 256.044 4.35627 266.078 11.6594C276.647 19.3188 281.931 30.0953 281.931 43.9891C281.931 51.9453 279.675 58.7735 275.163 64.4735C270.709 70.1141 265.069 74.0328 258.241 76.2297C258.241 78.1297 259.369 79.0797 261.625 79.0797C263.941 79.0797 266.939 77.7141 270.62 74.9828Z"
            fill="var(--blue-color)"></path>
          <path
            d="M329.491 3.1094H380.88C382.602 5.9594 383.878 9.07659 384.709 12.461C385.541 15.786 385.956 18.7844 385.956 21.4563C385.956 27.4531 384.769 31.9656 382.394 34.9938C380.078 38.0219 376.813 39.536 372.597 39.536H336.705C334.508 39.536 333.409 40.3969 333.409 42.1188V42.8313C333.409 43.1875 333.469 43.425 333.587 43.5438H376.159C377.228 45.3844 378.148 47.7 378.92 50.4906C379.633 53.5188 379.989 56.2203 379.989 58.5953C379.989 65.661 378.683 71.1828 376.07 75.161H356.744C347.719 75.161 341.603 75.5172 338.397 76.2297C335.191 76.8828 333.202 77.4469 332.43 77.9219C331.658 78.4563 331.272 79.1391 331.272 79.9703C331.272 80.8016 331.688 81.4547 332.519 81.9297C335.606 80.9203 338.842 80.2078 342.227 79.7922C346.68 79.3766 351.519 79.1688 356.744 79.1688H381.77C385.392 84.275 387.203 90.4203 387.203 97.6047C387.203 101.642 386.698 105.502 385.689 109.183C384.68 112.864 383.166 115.833 381.147 118.089H314.439C307.077 118.089 301.169 116.308 296.716 112.745C291.847 108.945 289.413 103.364 289.413 96.0016V11.3031C289.413 8.45315 292.678 6.37502 299.209 5.06877C305.741 3.76252 315.834 3.1094 329.491 3.1094Z"
            fill="var(--blue-color)"></path>
          <path
            d="M529.169 119.603C521.034 119.603 514.652 118.267 510.02 115.595C505.033 112.805 502.331 108.856 501.916 103.75L501.114 95.3781C506.577 94.0719 511.178 90.6875 514.919 85.225C515.928 83.6813 516.433 82.3453 516.433 81.2172C516.433 79.6735 515.661 78.9016 514.117 78.9016H513.85C513.791 78.961 513.672 78.9906 513.494 78.9906C509.337 87.7188 502.598 92.0828 493.277 92.0828C488.527 92.0828 484.459 91.0438 481.075 88.9656C477.75 86.8875 474.692 83.2953 471.902 78.1891H471.367C469.764 78.1891 468.962 78.8719 468.962 80.2375C468.962 81.1875 469.319 82.2563 470.031 83.4438C472.406 87.4219 475.375 90.5391 478.937 92.7953C481.728 94.6953 484.667 95.8235 487.755 96.1797L487.042 113.013C483.48 115.328 479.709 116.991 475.731 118C471.812 119.069 466.202 119.603 458.898 119.603C451.655 119.603 445.183 118.178 439.483 115.328C432.477 111.825 428.973 106.956 428.973 100.722C428.973 92.9438 430.517 73.736 433.605 43.0985C435.267 27.1266 436.603 15.9641 437.612 9.61096C443.728 4.14846 452.753 1.41721 464.687 1.41721C473.356 1.41721 480.541 3.02034 486.241 6.22659L491.139 22.6141L488.022 35.7063C487.784 36.5969 487.666 37.4578 487.666 38.2891C487.666 40.3672 488.853 41.436 491.228 41.4953L499.689 6.31565C502.123 5.0094 505.3 3.88127 509.219 2.93127C513.137 1.9219 517.412 1.41721 522.044 1.41721C530.712 1.41721 537.125 2.90159 541.281 5.87034C545.497 8.77971 547.991 13.7078 548.762 20.6547C548.941 21.961 549.208 24.1281 549.564 27.1563C554.967 73.5875 557.669 100.93 557.669 109.183C551.078 116.13 541.578 119.603 529.169 119.603Z"
            fill="var(--blue-color)"></path>
          <path
            d="M602.2 3.1094H653.589C655.311 5.9594 656.587 9.07659 657.419 12.461C658.25 15.786 658.666 18.7844 658.666 21.4563C658.666 27.4531 657.478 31.9656 655.103 34.9938C652.787 38.0219 649.522 39.536 645.306 39.536H609.414C607.217 39.536 606.119 40.3969 606.119 42.1188V42.8313C606.119 43.1875 606.178 43.425 606.297 43.5438H648.869C649.937 45.3844 650.858 47.7 651.63 50.4906C652.342 53.5188 652.698 56.2203 652.698 58.5953C652.698 65.661 651.392 71.1828 648.78 75.161H629.453C620.428 75.161 614.312 75.5172 611.106 76.2297C607.9 76.8828 605.911 77.4469 605.139 77.9219C604.367 78.4563 603.981 79.1391 603.981 79.9703C603.981 80.8016 604.397 81.4547 605.228 81.9297C608.316 80.9203 611.552 80.2078 614.936 79.7922C619.389 79.3766 624.228 79.1688 629.453 79.1688H654.48C658.102 84.275 659.913 90.4203 659.913 97.6047C659.913 101.642 659.408 105.502 658.398 109.183C657.389 112.864 655.875 115.833 653.856 118.089H587.148C579.786 118.089 573.878 116.308 569.425 112.745C564.556 108.945 562.122 103.364 562.122 96.0016V11.3031C562.122 8.45315 565.387 6.37502 571.919 5.06877C578.45 3.76252 588.544 3.1094 602.2 3.1094Z"
            fill="var(--blue-color)"></path>
        </svg>
      </div>
    </div>
  </BentoCard>
</a>

<style>
  a {
    display: flex;
    flex-grow: 1;
  }
  .svg-wrapper {
    display: flex;
    flex-grow: 1;
    padding: 1dvw;
  }
  .svg-wrapper-inner {
    display: flex;
    flex-grow: 1;
    padding: 1dvw;
  }
  .svg-wrapper-inner:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
  }

  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
</style>
