---
import BentoCard from "../../BentoCard.astro";
import IconAstro from "../../../components/Icons/Skills/Coding/IconAstro.astro";
import IconFigma from "../../../components/Icons/Skills/Design/IconFigma.astro";
import IconHTML from "../../../components/Icons/Skills/Coding/IconHTML.astro";
import IconJS from "../../../components/Icons/Skills/Coding/IconJS.astro";
import IconCSS from "../../../components/Icons/Skills/Coding/IconCSS.astro";
import IconPython from "../../../components/Icons/Skills/Coding/IconPython.astro";
import IconTailwind from "../../../components/Icons/Skills/Coding/IconTailwind.astro";
import IconReact from "../../../components/Icons/Skills/Coding/IconReact.astro";
import IconPhotoshop from "../../../components/Icons/Skills/Design/IconPhotoshop.astro";
import IconIllustrator from "../../../components/Icons/Skills/Design/IconIllustrator.astro";
import IconPublisher from "../../../components/Icons/Skills/Design/IconPublisher.astro";
import IconDesigner from "../../../components/Icons/Skills/Design/IconDesigner.astro";
import IconPhoto from "../../../components/Icons/Skills/Design/IconPhoto.astro";
---

<BentoCard border="1px solid var(--yellow-color)">
  <div class="icons-wrapper">
    <div class="icon-wrapper">
      <IconHTML />
    </div>
    <div class="icon-wrapper">
      <IconCSS />
    </div>
    <div class="icon-wrapper">
      <IconJS />
    </div>
    <div class="icon-wrapper">
      <IconPython />
    </div>
    <div class="icon-wrapper">
      <IconTailwind />
    </div>
    <div class="icon-wrapper">
      <IconReact />
    </div>
    <div class="icon-wrapper">
      <IconAstro />
    </div>
    <div class="icon-wrapper">
      <IconFigma />
    </div>
  </div>
</BentoCard>

<style>
  .icon-wrapper {
    width: 6%;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
    }
  }
  .icons-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.2dvw;
  }
</style>
