---
import BentoCard from "../../BentoCard.astro";
import BentoNav from "../../BentoNav.astro";
import BentoAchievements from "./BentoAchievements.astro";
import BentoSkillsCard from "./BentoSkillsCard.astro";
import BentoServiceCard from "../BentoServiceCard.astro";

const services = [
  {
    title: "Web Design",
    tagline: "Make you website shine",
    description:
      "I specialize in creating visually stunning and user-friendly websites using powerful tools and CMS platforms. Whether it’s Webflow or Framer, I ensure your site not only looks great but is easy to manage, scalable, and built with your specific needs in mind. Let me handle the technical complexities while you enjoy a beautifully designed and fully functional online presence that captures your brand’s essence.",
  },
  {
    title: "Web Development",
    tagline: "Custom Web Development",
    description:
      "I offer expert web development services to create dynamic websites and applications using modern frameworks like React and Svelte. Additionally, I specialize in building fast, efficient static sites with Astro, perfect for performance-focused projects. Whether you’re looking for interactivity or a highly optimized static solution, I deliver scalable, responsive, and tailored web experiences that meet your unique needs while ensuring exceptional user engagement.",
  },
  {
    title: "Automation",
    tagline: "No Repetive Work",
    description:
      "I offer tailored automation solutions to streamline your processes, saving you time and resources. Using Python or JavaScript scripts, I can automate repetitive tasks, improve workflow efficiency, and optimize data handling. Whether it’s automating business operations, data processing, or enhancing your existing systems, I deliver smart solutions designed to boost productivity and drive results. Let me help you simplify complex tasks and focus on what matters most.",
  },
];
---

<div class="bento-wrapper">
  <div class="bento main">
    <div class="first-row">
      <div class="left">
        <div class="nav-wrapper">
          <BentoNav
            color="var(--yellow-color)"
            border="1px solid var(--yellow-color)"
            backgroundColor="var(--secondary-color)"
          />
        </div>
        <div class="first-card">
          <BentoCard border="1px solid var(--yellow-color)">
            <div class="services">
              {
                services.map((service) => (
                  <div class="service">
                    <BentoServiceCard
                      service={service.title}
                      claim={service.tagline}
                      description={service.description}
                    />
                  </div>
                ))
              }
            </div>
          </BentoCard>
        </div>
      </div>

      <div class="right">
        <div class="profile-wrapper">
          <BentoAchievements />
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="hire-me-social-wrapper">
        <BentoSkillsCard />
      </div>
    </div>
  </div>

  <style>
    .bento-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100dvw;
      height: 100dvh;
    }

    .bento.main {
      display: flex;
      flex-direction: column;
      width: 94dvw;
      height: 94dvh;
      gap: 1.6dvw;
    }

    .first-row {
      display: flex;
      flex-direction: row;
      flex-basis: calc(75% - 1.6dvw);
      gap: 1.6dvw;
      max-height: calc(75% - 1.6dvw);
      min-height: calc(75% - 1.6dvw);
    }

    .second-row {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }

    .first-row .left {
      display: flex;
      flex-direction: column;
      flex-basis: 70%;
      max-width: 70%;
      gap: 1.6dvw;
    }

    .first-row .left .nav-wrapper {
      display: flex;
      flex-grow: 1;
      flex-basis: calc(10% - 1.6dvw);
      max-height: calc(10% - 1.6dvw);
      min-height: calc(10% - 1.6dvw);
    }
    .first-row .left .first-card {
      display: flex;
      flex-grow: 1;
    }

    .services {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2dvw;
      color: var(--yellow-color);
      padding: 1.6dvw;
      flex-grow: 1;
    }
    .service {
      display: flex;
      justify-content: center;
      flex-basis: 33%;
      height: 100%;
      transition: transform 2s;
      &:hover {
        transform: scale(1.05);
      }
    }

    .first-row .right {
      display: flex;
      flex-basis: calc(30% - 1.6dvw);
    }
    .first-row .right .profile-wrapper {
      display: flex;
      flex-grow: 1;
    }

    .hire-me-social-wrapper {
      display: flex;
      flex-grow: 1;
      gap: 1.6dvw;
      flex-basis: 80%;
    }
  </style>
</div>
