---
import BentoCard from "../../BentoCard.astro";
import { Image } from "astro:assets";
import blueWhale from "../../../images/blue-whale.webp";
---

<BentoCard border="1px solid var(--blue-color)">
  <div class="bio-whale-wrapper">
    <Image src={blueWhale} width={419} alt="A whale" />
  </div>
</BentoCard>

<style>
  .bio-whale-wrapper {
    display: flex;
    align-items: center;
    padding: 2dvw;
  }

  .bio-whale-wrapper:hover img {
    animation: wobble-ver-left 5s both;
  }

  @keyframes wobble-ver-left {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30px) rotate(-6deg);
    }
    30% {
      transform: translateY(15px) rotate(6deg);
    }
    45% {
      transform: translateY(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9px) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6px) rotate(-1.2deg);
    }
  }
</style>
