---
import MobileHeader from "./MobileHeader.astro";
import MobileCreativeDeveloper from "./MobileCreativeDeveloper.astro";
import MobileMarquee from "./MobileMarquee.astro";
import MobileBio from "./MobileBio.astro";
import MobileHero from "./MobileHero.astro";
---

<section class="home flex flex-col justify-between">
  <MobileHero />
  <MobileBio />
</section>
