---
import { Image } from "astro:assets";
import profile from "../../images/giacomo_ravetta_profile_final_social.webp";
---

<div class="image-wrapper">
  <Image src={profile} alt="Hi, I am Giacomo" class="profile-image" />
  <div class="bracket left">&#123</div>
  <div class="bracket right">&#125</div>
</div>

<style>
  .image-wrapper {
    position: relative;
    width: fit-content;
    margin-top: 100px;
    padding: 50px;
  }

  .profile-image {
    min-width: 10%;
    max-width: 100%;
    border-radius: 10% 36% 10% 36%;
  }

  .bracket {
    position: absolute;
    opacity: 0;
    font-size: 30vw;
    color: transparent;
    --top-left-bracket: 8%;
    --top-right-bracket: 16%;
    --left-bracket: 24%;
    --right-bracket: 70%;
    -webkit-text-stroke: 2px white;
  }

  .left {
    top: var(--top-left-bracket);
    left: var(--left-bracket);
  }

  .right {
    top: var(--top-right-bracket);
    left: var(--right-bracket);
  }
</style>
