<div class="creative developer text-center">
  <div class="line">
    <div class="letter">C</div>
    <div class="letter">R</div>
    <div class="letter">E</div>
    <div class="letter">A</div>
    <div class="letter">T</div>
    <div class="letter">I</div>
    <div class="letter">V</div>
    <div class="letter">E</div>
  </div>
  <div class="line m-[-70px]">
    <div class="letter">D</div>
    <div class="letter">E</div>
    <div class="letter">V</div>
    <div class="letter">E</div>
    <div class="letter">L</div>
    <div class="letter">O</div>
    <div class="letter">P</div>
    <div class="letter">E</div>
    <div class="letter">R</div>
  </div>
</div>

<style>
  .creative.developer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .letter {
    display: inline-block;
    font-size: 18vw;
    color: transparent;
    -webkit-text-stroke: 0.7vw var(--secondary-color);
  }
</style>
<!-- 
<script>
  import { animate, stagger } from "motion";
  animate(
    ".letter",
    { opacity: [0, 1], rotate: 360, y: [200, 0] },
    { duration: 1, delay: stagger(0.05) }
  );
</script> -->
