---
import MobileThemeButton from "../Mobile/MobileThemeButton.astro";
---

<div class="header flex flex-row items-center justify-between w-[100%] p-5">
  <div class="name text-center text-[10vw] leading-[0.8]">
    <span>GIACOMO <br /> RAVETTA</span>
  </div>
  <MobileThemeButton />
</div>

<style>
  .header {
    color: var(--secondary-color);
  }
  .name {
    color: var(--secondary-color);
  }
</style>
